// bower:scss
// endbower
$font-url: "/styles/fonts";
$orange: #ff6600;
$dark : #33484F;
/* Font-Face declaration */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@mixin transition-all {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 60px;
  margin: 16% auto;
}

.pace .pace-activity {
  z-index: 2000;
  width: 64px;
  height: 64px;
  border: solid 4px transparent;
  border-top-color: $orange;
  border-left-color: $orange;
  border-radius: 60px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    margin-bottom: 14px;
    span {
        margin-left: 30px;
        display: block;
        float: left;
        font-size: 30px;
        height: 60px;
        width: 60px !important;
        text-align: center;
        padding-top: 15px;
        color: #FFF;
        border-radius: 100%;
        background: #ff6600;
        background: -moz-linear-gradient(top, #ff6600 0%, #ff2900 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6600), color-stop(100%,#ff2900));
        background: -webkit-linear-gradient(top, #ff6600 0%,#ff2900 100%);
        background: -o-linear-gradient(top, #ff6600 0%,#ff2900 100%);
        background: -ms-linear-gradient(top, #ff6600 0%,#ff2900 100%);
        background: linear-gradient(to bottom, #ff6600 0%,#ff2900 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6600', endColorstr='#ff2900',GradientType=0 );
        
    }
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    display: inline-block;
    margin-left: 30px;
    padding-top: 14px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    color: #ff6600;
    font-weight: 600;
    text-transform: uppercase;
}
#init {
    text-align: center;
}
/* Main marketing message and sign up button */
.contain {
    background-image: url('/images/pattern.png'), url('/images/back.png');
    background-repeat: repeat, no-repeat;
    background-size: 1px, cover;
    text-align: center;
    border-top: 3px solid #F60;
    border-bottom: 3px solid #F60;
    background-color: #DEDEDE;
    min-height: 410px;
    padding-top: 47px;
    padding-bottom: 30px;
    h1 {
        margin-top: 30px;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 2px;
        color: #FFF;
    }
    .lead {
        span {
            color: #ff6600;
            font-weight: 800;
            font-size: 70px;
            margin-bottom: 50px;
            @include transition-all;
            &:hover{
                color: #ffffff;
            }   
        }
    }
    .btn-orange {
        background-color: #ff6600;
        color: #FFF;
        border: 2px solid #ffffff;
        @include transition-all;
        &:hover {
            border: 2px solid #ffffff;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}

.tagline {
    padding-top: 40px;
    text-align: center;
    color: #33484F;
    span {
        font-size: 50px;
        color: #ff6600;
    }
    h2 {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 40px;
        font-weight: 200;
        font-style: italic;
    }
    .glyphicon-headphones {
        font-size: 30px;
    }

    p {
        font-size: 20px;
        font-weight: 300;
    }
}




#wrapper {
    color: #FFF;
    .contain {
        animation: none;
        -webkit-animation: none;
    }
    .count {
        color: $orange;
        display: inline-block;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        background-color: #FFF;
        font-size: 17px;
        line-height: 40px;
        font-weight: 600;
        border: 2px solid $dark;
    }
    .name {
        font-weight: 400;
        text-shadow: 0 1px 4px $dark;
    }
    .avatar {
        margin: 0 auto;
        width: 90px;
        height: 90px;
        border-radius: 100%;
        border: 4px solid #ffffff;
        -webkit-box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 0px 12px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 0px 12px 0px rgba(50, 50, 50, 0.75);
        img {
            border-radius: 100%;
        } 
    }
    .description {
        color: $dark;
        font-size: 15px;
        font-weight: 600;
    }
    .follower, .following {
        display: inline-block;
        margin: 20px;
        color: $dark;
        font-weight: 500;
    }
    .favorite {
        clear: both;
        color: #FFF;
        .glyphicon {
            left: 10px;
            display: block;
            text-align: center;
            margin: 0 auto;
        }
        .glyphicon-heart:before {
            font-size: 75px;
            color: $orange;
            position: relative;
            left: -28px;
        }
        .num {
            position: relative;
            top: -55px;
            font-size: 20px;
            font-weight: 400;
            width: 5%;
            margin: 0 auto;
            left: 15px;
        }
    }
    #sound {
        li {
            padding: 15px;
            background-color: #dedede;
            margin-bottom: 20px;
            font-weight: 600;
            color: $dark;
            font-size: 13px;
            width: 100%;
            border-bottom: 1px solid $orange;
            display: block;
            
        }
        input {
            margin: 20px auto;
        }
    }
}

footer {
    #share {
        margin: 20px auto;
        width: 280px;
    }
    .fb-like, .twitter {
        float: left;
        display: inline-block;
        margin: 0 10px;
    }
    #powered {
        text-align: center;
        padding-top: 42px;
        clear: both;
        span {
            color: #f12f32;
            font-size: 20px;
        }
        img {
            width: 50px;
        }
    }
}




