<div class="header">
  <div class="row">
    <div class="col-md-6">
      <span id="logo" class="glyphicon glyphicon-heart"></span><h3 class="text-muted">Sound'Likes</h3>
    </div>
    <span id="logout" class="col-md-6 glyphicon glyphicon-eject" ng-show="connect" ng-click="logout()"><a href="/">Logout</a></span>
  </div>
</div>

<div class="container" id="init" ng-show="init">
  <spinner-init></spinner-init>
  <p>Initialization...</p>
</div>

<div ng-hide="init">
  <div ng-hide="connect" class="animated fadeInUp">
    <div class="contain">
      <h1>Connect your Soundcloud</h1>
      <p class="lead">
        <span class="glyphicon glyphicon-heart"></span>
      </p>
      <p>
        <a class="btn btn-lg btn-orange" ng-click="connection()">Connect your soundcloud <span class="glyphicon glyphicon-ok"></span>
        </a>
      
      </p>
    
    </div>

    <div class="container">
      <div class="tagline">
        <span class="glyphicon glyphicon-music"></span>
        <h2>" Filter your Soudncloud like's has never been easier "</h2>
      </div>
    </div>

  </div>

  <div id="wrapper" class="animated fadeInUp" ng-show="connect">
      <div class="contain">
          <div class="container">
              <img class="avatar" ng-src="{{ userStorage.avatar }}" alt="">
              <h2 class="name">{{ userStorage.name }}</h2>
              <div class="description">'{{ userStorage.description }}'</div>
              <div class="website"><a href=" {{ website }} ">{{ userStorage.website }}</a></div>
              <div class="follower"><p>Follower:</p> <span class="count">{{ userStorage.followers }}</span></div>
              <div class="following"><p>Following:</p><span class="count">{{ userStorage.followings }}</span></div>
              <div class="favorite"><span class="glyphicon glyphicon-heart"></span><span class="num">{{ userStorage.favorites }}</span></div>
          </div>
      </div>
      <div class="container" id="sound">
        <input type="text" class="form-control" ng-model="searchText" placeholder="filter by tag, artist, title, genre">
        <div class="row">
          <div class="col-md-12">
            <div ng-repeat="sound in dataSound | filter:searchText" class="box col-md-3 col-sm-4 animated fadeIn" >
              <div class="innerbox" style="background-image: url('{{ sound.artwork_url }}');">
                <p class="title"><a ng-href="{{ sound.permalink_url }}" target="_blank">{{ sound.title | characters: 40 }}</a> <span class="glyphicon glyphicon-heart"> {{ sound.favoritings_count }}</span></p>
                <p class="tag">{{ sound.tag_list }}</p>
  <!--               <p>Description: {{ sound.description | words:100 }}</p> -->
  <!--               <p>Genre : {{ sound.genre }}</p>
                <p>duration : {{ sound.duration }}</p> -->
  <!--               <p>Created at : {{ sound.created_at }}</p> -->
                <!-- <p>Like : {{ sound.favoritings_count }}</p> -->
                <!-- <p>Playback count : {{ sound.playback_count }} </p> -->
                <!-- <p>Download count : {{ sound.download_count }} </p> -->
                <!-- <img ng-src="{{ sound.artwork_url }}" alt="" width="70"> -->
                <!-- <a ng-href="{{ sound.download_url }}">Download</a> -->
  <!--               <div>User post: <p><a ng-href="{{ sound.user.permalink_url }}">{{ sound.user.username }}</a></p>
                  <p><img ng-src="{{ sound.user.avatar_url }}" alt="" width="50"></p> 
                </div> -->
                  
                <div plangular data-src="{{ sound.permalink_url }}" class="media">
                  <div class="control">
                    <a href="" ng-click="player.play(track); play=!play" ng-hide="player.playing == track" class="img">
                      <div plangular-icon="play"></div>
                    </a>

                    <a href="" ng-click="player.pause(); play=!play" ng-show="player.playing == track" class="img pause">
                      <div plangular-icon="pause"></div>
                    </a>
                  </div>
                  <div class="bd" ng-show="player.playing == track" ng-click="seekTo($event)">
                    <progress id="progressbar" value="{{ currentTime / duration }}">{{ currentTime / duration }}</progress>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
  </div><!-- END #wrapper -->

</div>
  
<footer class="container">
  <div id="share">
    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    
    <div class="twitter">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://127.0.0.1:9000/#/" data-text="Filter your Soudncloud like's has never been easier" data-via="EtaixJ" data-hashtags="soundLike">Tweet</a>
    </div>
  </div>
  <div id="powered">Powered by <img src="/images/angular.png" alt=""> with <span class="glyphicon glyphicon-heart"></span></div>
</footer>

</div>