<div class="header">
  <span class="glyphicon glyphicon-heart"></span><h3 class="text-muted">Sound'Likes</h3>
</div>

<div class="container" id="init" ng-show="init">
  <spinner></spinner>
  <p>Initialization...</p>
</div>

<div ng-hide="init">
  <div ng-hide="connect" class="animated fadeInUp">
    <div class="contain">
      <h1>Connect your Soundcloud</h1>
      <p class="lead">
        <span class="glyphicon glyphicon-heart"></span>
      </p>
      <p>
        <a class="btn btn-lg btn-orange" ng-click="connection()">Connect your soundcloud <span class="glyphicon glyphicon-ok"></span>
        </a>
      
      </p>
    
    </div>

    <div class="container">
      <div class="tagline">
        <span class="glyphicon glyphicon-music"></span>
        <h2>" Filter your Soudncloud like's has never been easier "</h2>
<!--         <span class="glyphicon glyphicon-headphones"></span>
        <p>Good listening...</p> -->
      </div>
    </div>

  </div>

  <div id="wrapper" class="animated fadeInUp" ng-show="connect">
      <div class="contain">
          <div class="container">
              <img class="avatar" ng-src="{{ dataUser.avatar }}" alt="">
              <h2 class="name">{{ dataUser.full_name }}</h2>
              <div class="description">'{{ dataUser.description }}'</div>
              <div class="website"><a href=" {{ website }} ">{{ dataUser.website }}</a></div>
              <div class="follower"><p>Follower:</p> <span class="count">{{ dataUser.followers_count }}</span></div>
              <div class="following"><p>Following:</p><span class="count">{{ dataUser.followings_count }}</span></div>
              <div class="favorite"><span class="glyphicon glyphicon-heart"></span><span class="num">{{ dataUser.public_favorites_count }}</span></div>
          </div>
      </div>
      <div class="container" id="sound">
        <input type="text" class="form-control" ng-model="search" placeholder="filter by tag, artist, title, genre">
        <div>
          <ul>
            <li ng-repeat="sound in dataSound | soundName:search" class="animated fadeInLeft">
              <p class="title"><a ng-href="{{ sound.permalink_url }}">Title : {{ sound.title }}</a></p>
              <p>Tag : {{ sound.tag_list }}</p>
              <p>Description: {{ sound.description | words:100 }}</p>
              <p>Genre : {{ sound.genre }}</p>
              <p>duration : {{ sound.duration }}</p>
              <p>Created at : {{ sound.created_at }}</p>
              <p>Like : {{ sound.favoritings_count }}</p>
              <p>Playback count : {{ sound.playback_count }} </p>
              <p>Download count : {{ sound.download_count }} </p>
              <img ng-src="{{ sound.artwork_url }}" alt="" width="70">
              <a ng-href="{{ sound.download_url }}">Download</a>
              <div>User post: <p><a ng-href="{{ sound.user.permalink_url }}">{{ sound.user.username }}</a></p>
                <p><img ng-src="{{ sound.user.avatar_url }}" alt="" width="50"></p>
              </div>
              <p>
                <div plangular data-src="{{ sound.permalink_url }}" class="media">
                  <a href="" ng-click="player.play(track)" ng-hide="player.playing == track" class="img">
                    <div plangular-icon="play"></div>
                  </a>
                  <a href="" ng-click="player.pause()" ng-show="player.playing == track" class="img">
                    <div plangular-icon="pause"></div>
                  </a>
                  <div class="bd">
                    <progress value="{{ currentTime / duration }}" ng-click="seekTo($event)">{{ currentTime / duration }}</progress>
                  </div>
                </div>
              </p>
            </li>
          </ul>
        </div>
      </div>
  </div><!-- END #wrapper -->

</div>
  
<footer class="container">
  <div id="share">
    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    
    <div class="twitter">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://127.0.0.1:9000/#/" data-text="Filter your Soudncloud like's has never been easier" data-via="EtaixJ" data-hashtags="soundLike">Tweet</a>
    </div>
  </div>
  <div id="powered">Powered by <img src="/images/angular.png" alt=""> with <span class="glyphicon glyphicon-heart"></span></div>
</footer>

</div>